* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul > li {
  margin: 15px 0px -5px;
}
ul > li > a {
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
}
.link {
  text-decoration: none;
  color: lightgray;
}
.logo {
  color: lightgray;
  font-size: 18px;
  font-weight: bold;
  font-family: "mv boli", sans-serif;
}
.active {
  color: rgb(88, 248, 88) !important;
}
.pending {
  color: red;
}

.art:last-child {
  margin-right: auto;
  margin-left: 10px;
}

.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.quick {
  font-style: italic;
}
.copy {
  font-family: "mv boli", sans-serif;
}
